properdocs
properdocs[i18n]
mkdocs-static-i18n
mkdocs-material[i18n]
mkdocstrings[python]
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
mkdocs-obsidian-bridge
mkdocs-autorefs
pymdown-extensions
